@import "tailwindcss";

@keyframes pulse-slow {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
}

@keyframes gradient-rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.animate-pulse-slow {
  animation: pulse-slow 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.animate-gradient-rotate {
  animation: gradient-rotate 10s linear infinite;
}

button,
[role="button"],
.btn {
  cursor: pointer;
}

html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
}
